<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ControllerServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/productList</url-pattern>
        <url-pattern>/productDetail</url-pattern>
        <url-pattern>/product-list</url-pattern>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/viewcart</url-pattern>
        <url-pattern>/remove</url-pattern>
        <url-pattern>/emptycart</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/buy</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/change</url-pattern>
        <url-pattern>/update</url-pattern>
        <url-pattern>/404</url-pattern>
        <url-pattern>/trendy</url-pattern>
        <url-pattern>/orderDetail</url-pattern>
        <url-pattern>/admin-update</url-pattern>
        <url-pattern>/admin-orderList</url-pattern>
        <url-pattern>/admin-categoryList</url-pattern>
        <url-pattern>/admin-userList</url-pattern>
        <url-pattern>/admin-productList</url-pattern>
        <url-pattern>/admin-dashboard</url-pattern>
        <url-pattern>/admin-productDetail</url-pattern>
        <url-pattern>/admin-userDetail</url-pattern>
        <url-pattern>/admin-orderDetail</url-pattern>
        <url-pattern>/admin-categoryDetail</url-pattern>
        <url-pattern>/admin-change</url-pattern>
        <url-pattern>/admin-updateproduct</url-pattern>
        <url-pattern>/admin-disableproduct</url-pattern>
        <url-pattern>/admin-enableproduct</url-pattern>
        <url-pattern>/admin-addcategory</url-pattern>
        <url-pattern>/admin-addproduct</url-pattern>
        <url-pattern>/admin-disablecategory</url-pattern>
        <url-pattern>/admin-enablecategory</url-pattern>
        <url-pattern>/admin-updatecategory</url-pattern>
        <url-pattern>/admin-removeuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>imgProductPath</param-name>
        <param-value>images/</param-value>
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <description>JSP configuration for the store front</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/productList.jsp</url-pattern>
            <url-pattern>/productDetail.jsp</url-pattern>
            <url-pattern>/product-list.jsp</url-pattern>   
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/wishlist.jsp</url-pattern>
            <url-pattern>/viewcart.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <url-pattern>/404.jsp</url-pattern>
            <url-pattern>/contact.jsp</url-pattern>
            <url-pattern>/typo.jsp</url-pattern>
            <url-pattern>/profile.jsp</url-pattern>
            <url-pattern>/checkout.jsp</url-pattern>
            <url-pattern>/trendy.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config> 
</web-app>
